extends layout

block content
  div(class="d-flex flex-column align-items-stretch justify-content-center container" style="max-width: 900px")
    h3(class="text-center m-4") #{title}
    
    div(class="text-end")
      a(class=`btn ${user ? "btn-primary" : "btn-secondary disabled"}` href="/post/create"  aria-disabled=(user===undefined) role="button") Create Post


    ul(class="list-group mt-3")
      each post in posts 
        a(href=post.url class="list-group-item list-group-item-action") 
          p(class="h6") #{post.user.username }
          p(class="h6") #{post.date_of_post_formatted }
          p(class="h5") #{post.title }

      else 
        p There are no posts yet.

