extends layout

block content
  div(class="mt-4 d-flex flex-column align-items-stretch justify-content-center container" style="max-width: 900px")
    div(class="d-flex flex-wrap mt-2 mb-0")
      a(class="fw-bold link-primary" href=post.user.url) #{post.user.username}
      if user && user.member_status!=="Basic"
        span &nbsp
        span (#{post.user.first_name} #{post.user.last_name})
      span &nbsp;-&nbsp;
      p posted on #{post.date_of_post_formatted}

      //- if user && post.user._id.toString()===user._id.toString()
      //-   a(class="btn btn-outline-secondary" href=post.url type='button' style="max-width:250px") Edit
      //-   a(class="btn btn-outline-danger" href=post.url type='button' style="max-width:250px") Delete

    //- post content
    h3 #{post.title}
    p #{post.text}

    hr(class='mt-0')
    h5 #{post.comments.length} Comments

    //- comment input section
    if user
      form(method="POST" action =`/post/${post._id}/comment/create`)
        div(class="mt-3 form-group")
          div(class="form-floating mb-1")
            textarea#new_comment(class="form-control" type='textarea', placeholder="Maximum of 300 characters" style="height: 150px" name='new_comment') #{new_comment ? new_comment : ""}
            label(for='new_comment') Comment as #{user.username}
          p(class="mt-1") &nbsp;
            if errors 
              for error in errors 
                if error.path==="new_comment"
                  span(class='text-danger') #{error.msg}

        div(class="d-flex justify-content-end")
          button(class="w-100 btn btn-primary" type='submit' style="max-width: 250px") Comment
      hr


    //- comments section
    if post.comments.length > 0 
      ul(class='list-group list-group-flush')
        each comment in post.comments 
          li(class='list-group-item bg-light')
            div(class='mt-2 mb-3')
              a(class='fw-bold link-primary' href=comment.user.url) #{comment.user.username }
              if user && user.member_status!=="Basic"
                span &nbsp
                span (#{comment.user.first_name} #{comment.user.last_name})
              span &nbsp;-&nbsp;
              span #{comment.date_of_comment_formatted}
            p(class="mb-2") #{comment.text}
            p(class="mb-2")
              if comment.replies.length > 0 
                if comment.replies.length === 1 
                  a(href="#" class="badge badge-pill text-bg-primary") #{comment.replies.length} reply
                else
                  a(href="#" class="badge badge-pill text-bg-primary") #{comment.replies.length} replies 
              else 
                span(class="badge badge-pill text-bg-secondary") #{comment.replies.length} replies 
    else 
      p No comments posted yet.