extends layout

block content
  div(class="mt-4 d-flex flex-column align-items-stretch justify-content-center container" style="max-width: 900px")
    div(class="d-flex flex-wrap mt-2 mb-0")
      if post.user!==null
        a(class="fw-bold link-primary" href=post.user.url) #{post.user.username}
        if user && user.member_status!=="Basic"
          span &nbsp
          span (#{post.user.full_name})
      else 
        a(class="fw-bold link-secondary" href="/user/null") Deleted User
      span &nbsp;-&nbsp;
      p(class="mb-0") posted on #{post.date_of_post_formatted}
        span &nbsp;
        span #[em (#{post.date_of_post_ago})]

      //- delete button for admins
      if user && user.member_status.toString() === "Admin"
        a(class="btn btn-outline-danger ms-auto btn-sm text-center align-top" href=`/post/${post._id}/delete` style="border-width: 0px; max-width:250px" type="button")
          i(class='bx bxs-trash align-bottom mb-1')

    //- post content
    h3(class="mt-2") #{post.title_unescaped}
    p #{post.text_unescaped}

    hr(class='mt-0')
    if post.comments.length === 1
      h5 #{post.comments.length} Comment
    else 
      h5 #{post.comments.length} Comments
    

    //- comment input section
    if user
      form(method="POST" action =`/post/${post._id}/comment/create`)
        div(class="mt-3 form-group")
          div(class="form-floating mb-0")
            textarea#new_comment(class="form-control" type='textarea', placeholder="Max. 300 characters" style="height: 150px" name='new_comment') #{new_comment ? new_comment : ""}
            label(for='new_comment') Comment as #{user.username}
          p(class="mt-0") 
            if errors 
              for error in errors 
                if error.path==="new_comment"
                  span(class='text-danger') #{error.msg}
                else
                  span &nbsp;
            else
              span &nbsp;

        div(class="d-flex justify-content-end")
          button(class="w-100 btn btn-primary" type='submit' style="max-width: 250px") Comment
      hr


    //- comments section
    if post.comments.length > 0 
      ul(class='list-group list-group-flush')
        each comment in post.comments 
          li(class='list-group-item bg-light')
            //- comment info
            div(class='mt-2 mb-3')
              if comment.user!== null
                a(class='fw-bold link-primary' href=comment.user.url) #{comment.user.username }
                if user && user.member_status!=="Basic"
                  span &nbsp
                  span (#{comment.user.full_name})
                if comment.user._id.toString() === post.user._id.toString()
                  span &nbsp;
                  span(class='badge text-bg-primary') OP
              else 
                a(class='fw-bold link-secondary' href="/user/null") Deleted User
              span &nbsp;-&nbsp;
              span #{comment.date_of_comment_ago}

            p(class="mb-2") #{comment.text_unescaped}

            //- comment bottom row controls
            div(class="mb-2")
              div(class='d-flex gap-3 justify-content-start')
                //- comment control buttons here upvote, donwvote

                //- comment reply button. check if user and check if any replies at all
                if user
                  button(class="btn btn-outline-primary btn-sm text-center align-middle px-3" style="border-width: 0px" type="button" data-bs-target=`#commentRepliesFor${comment._id}` data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseExample")
                    if comment.replies.length > 0
                      span #{comment.replies.length}
                      span &nbsp;&nbsp;
                    i(class='bx bxs-comment align-bottom mb-1')
                else 
                  if comment.replies.length > 0
                    button(class="btn btn-outline-primary btn-sm text-center align-middle px-3" style="border-width: 0px" type="button" data-bs-target=`#commentRepliesFor${comment._id}` data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseExample")
                      span #{comment.replies.length}
                      span &nbsp;&nbsp;
                      i(class='bx bxs-comment align-bottom mb-1')
                  else
                    a(href="/auth/login" class="btn btn-outline-primary btn-sm text-center align-middle px-3" style="border-width: 0px" type="button")
                      i(class='bx bxs-comment align-bottom mb-1')



              
              //- replies section
              div(class="ps-4 collapse" id=`commentRepliesFor${comment._id}`)
                ul(class='list-group list-group-flush border-start border-secondary border-2')
                  each reply in comment.replies 
                    li(class='list-group-item bg-light py-2 border-bottom border-secondary border-2' style="padding-right: 0px")
                      if reply.user !== null
                        div
                          a(class='fw-bold link-primary' href=reply.user.url) #{reply.user.username }
                          if reply.user._id.toString() === post.user._id.toString()
                            span &nbsp;
                            span(class='badge text-bg-primary') OP
                      else
                        a(class='fw-bold link-secondary' href="/user/null") Deleted user
                      p(class="mb-1 mt-2") #{reply.text_unescaped}
                      p(class="mb-0") #[em #{reply.date_of_comment_ago}]
                //- form for replying to comment
                if user
                  form(class="border-start border-secondary border-2 pt-3" method="POST" action =`/post/${post._id}/comment/${comment._id}/reply`)
                    div(class="ps-3 form-group")
                      div(class="form-floating mb-1")
                        textarea#new_reply(class="form-control" type='textarea', placeholder="Max. 100 characters" name='new_reply') #{new_reply ? new_reply : ""}
                        label(for='new_reply') Reply with max. 100 characters
                      p(class="mt-0 mb-0") 
                        if errors 
                          for error in errors 
                            if error.path==="new_reply"
                              span(class='text-danger') #{error.msg}
                            else
                              span &nbsp;
                        else
                          span &nbsp;

                    div(class="d-flex justify-content-end")
                      button(class="btn btn-primary" type='submit' style="max-width: 250px") Reply
    else 
      p No comments posted yet.