extends layout

block content
  h3 #{post.title}

  p(class="h6") - 
    a(class="h6" href=post.user.url) #{post.user.username}

  p(class="mt-4") #{post.text}

  div(class="d-flex")
    p(class="ml-auto") Posted on #{post.date_of_post_formatted}

  if post.comments.length > 0 
    ul(class='list-group')
      each comment in post.comments 
        li(class='list-group-item')
          p #{comment.user}
          p #{comment.date_of_comment}
          p #{comment.text}
  else 
    p No comments posted yet.