extends layout

block content
  div(class="d-flex flex-column align-items-stretch justify-content-center container" style="max-width: 380px")
    h3(class="m-4 text-center") Sign Up

    form(method="POST" action ="")

      div(class="mt-3 form-group")
        div(class="form-floating mb-1")
          input#first_name(class="form-control" type="text" placeholder="Jack" name="first_name" required='true' value=(undefined===signing_user ? "" : signing_user.first_name))
          label(class="mt-1" for="first_name") First Name
        p(class="mt-1") &nbsp;
          if errors 
            for error in errors 
              if error.path==="first_name"
                p(class='text-danger') #{error.msg}

      div(class="mt-2 form-group")
        div(class="form-floating mb-1")
          input#last_name(class="form-control" type="text" placeholder="Sparrow" name="last_name" required='true' value=(undefined===signing_user ? "" : signing_user.last_name))
          label(class="mt-1" for="last_name") Last Name
        p(class="mt-1") &nbsp;
          if errors 
            for error in errors 
              if error.path==="last_name"
                p(class='text-danger') #{error.msg}

      div(class="mt-2 form-group")
        div(class="form-floating mb-1")
          input#username(class="form-control" type="text" placeholder="my_username" name="username" required='true' value=(undefined===signing_user ? "" : signing_user.username))
          label(class="mt-1" for="username") Username
        p(class="mt-1") &nbsp;
          if errors 
            for error in errors 
              if error.path==="username"
                p(class='text-danger') #{error.msg}

      div(class="mt-2 form-group")
        div(class="form-floating mb-1")
          input#password(class="form-control" type="password" placeholder="mypassword" name="password" required='true')
          label(class="mt-1" for="password") Password
        p(class="mt-1") &nbsp;
          if errors 
            for error in errors 
              if error.path==="password"
                p(class='text-danger') #{error.msg}

      p &nbsp;
        if errors 
          ul(class="list-group list-group-flush") 
            for error in errors 
              if error.path!=="first_name" && error.path!=="last_name" && error.path!=="username" && error.path!=="password"
                li(class='text-danger') Error: (#{error.path}) #{error.msg}

      
      div(class="mt-2 text-center form-group")
        button(class="w-100 btn btn-primary" type='submit') Submit

        

    p(class="mt-2") Already have an account? Log in 
      a(href='/auth/login') here
      span .

